body {
  background-color: aquamarine;
}

input {
  width: 300px;
  height: 30px;
}
button {
  height: 30px;
  width: 75px;
  background-color: antiquewhite;
  outline: none;
  border: 0.1px solid;
}
button:hover {
  background-color: rgb(216, 202, 184);
}

#Color {
  width: 100px;
  height: 100px;
  background-color: cornflowerblue;
}
